<!DOCTYPE html>
<html>
  <head>
    <title>RailsWatchList</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">
          <%= image_tag "movie_logo.png", alt: "logo", width: 200 %>
        </a>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
          <li class="nav-item active">
             <%= link_to "My Lists", root_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
             <%= link_to "New List", new_list_path , class: "nav-link" %>
          </li>
      </ul>
    </div>
  </div>
</div>

    <%= yield %>
  </body>
</html>
